header{
    width: 100%;
    height: 100px;
    background-color: #FF8F1E;
}
header img{
    max-height: 100px;
    display: inline;
    position: absolute;
    margin-left: 22%;
}
.menu {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
.menu a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 32px;
    color: #FFF;
    display: block;
    transition: 0.3s
}
.menu a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
}
.menu i{
    display: inline-block;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
